extends layout

block content
  h1 Create a poll!
  form#form(action='')
    input.question(type="text")
    br
    input.answer1(type="text")
    br
    input.answer2(type="text")
    br
    button.submitBtn(type="button") Submit