extends layout

block content
  section
    h1 Create a poll!
    form#form(action='')
      input.question(type="text", placeholder="question")
      br
      input.answer1(type="text", placeholder="first answer")
      br
      input.answer2(type="text", placeholder="second answer")
      br
      button.submitBtn(type="button") Submit